<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建api信息</title>
    <link rel="stylesheet" href="/css/public.css"/>
    <link rel="stylesheet" href="/css/infoModel.css"/>
</head>
<body>
<div class="content">
    <h4 class="Title"><%= title %></h4>
    <div class="info">
        <span>模块名:</span>
        <div style="display: inline-block">
            <select name="model">
                <% for(var i = 0; i < modules.length; i++) { %>
                <option
                        <% if (typeof selected !== "undefined" && modules[i].label === selected ){ %>
                        selected
                        <% } %>
                ><%= modules[i].label %></option>
                <% } %>
            </select>
        </div>
    </div>
    <div class="info">
        <span>api名称:</span>
        <input name="name" type="text"
               value=<% if (typeof api !== "undefined" ){ %>
               <%= api.name %>
               <% } %>
        >
    </div>
    <div class="info">
        <span>host:</span>
        <div style="display: inline-block">
            <select name="host">
                <% for(var i = 0; i < hosts.length; i++) { %>
                <option
                        <% if (typeof host !== "undefined" && hosts[i].host === host ){ %>
                        selected
                        <% } %>
                ><%= hosts[i].host %></option>
                <% } %>
            </select>
        </div>
    </div>
    <div class="info">
        <span>url:</span>
        <input name="url"
               type="text"
               value=<% if (typeof api !== "undefined" ){ %>
               <%= api.api %>
               <% } %>
        >
    </div>
    <div class="info">
        <span>备注:</span>
        <input name="remark"
               type="text"
               value=<% if (typeof api !== "undefined" ){ %>
               <%= api.comment %>
               <% } %>
        >
    </div>
    <div class="info">
        <span>方法:</span>
        <div style="display: inline-block">
            <select name="method">
                <option value="GET"
                        <% if (typeof api !== "undefined" && api.method === "GET" ){ %>
                        selected
                        <% } %>
                >GET
                </option>
                <option value="POST"
                        <% if (typeof api !== "undefined" && api.method === "POST"){ %>
                        selected
                        <% } %>
                >POST
                </option>
                <option value="PUT"
                        <% if (typeof api !== "undefined" && api.method === "PUT"){ %>
                        selected
                        <% } %>
                >PUT
                </option>
                <option value="DELETE"
                        <% if (typeof api !== "undefined" && api.method === "DELTE"){ %>
                        selected
                        <% } %>
                >DELETE
                </option>
            </select>
        </div>
    </div>
    <div class="info">
        <h5>参数输入请以逗号分隔!</h5>
    </div>
    <div class="info">
        <span>body参数:</span>
        <input name="body" type="text"
               value=<% if (typeof api !== "undefined" ){ %>
               <%= api.body %>
               <% } %>
        >
    </div>
    <div class="info">
        <span>params参数:</span>
        <input name="params"
               type="text"
               value=<% if (typeof api !== "undefined" ){ %>
               <%= api.params %>
               <% } %>
        >
    </div>
    <div class="info">
        <span>query参数:</span>
        <input name="query"
               type="text"
               value=<% if (typeof api !== "undefined" ){ %>
               <%= api.query %>
               <% } %>
        >
    </div>
    <div style="text-align: center">
        <button class="sendInfo" _id=<% if (typeof api !== "undefined"){ %> <%= api.id %>
        <% } %>
        >确定
        </button>
    </div>
</div>
<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<% if (typeof api !== "undefined"){ %>
<script src="/js/updateApiInfo.js"></script>
<% } else { %>
<script src="/js/createApiInfo.js"></script>
<% } %>
</body>
</html>


